[app]
name = "demo"
host = "0.0.0.0"
port = "8050"
key  = "this is your app key"

[mysql]
host = "127.0.0.1"
port = "3306"
username = "demo"
password = "xxxx"
database = "demo"

[log]
// 解析日志Level配置
// DebugLevel: "debug",
// InfoLevel:  "info",
// WarnLevel:  "warning",
// ErrorLevel: "error",
// FatalLevel: "fatal",
// PanicLevel: "panic",
level = "info"
dir = "logs"
format = "text"
to = "stdout"